body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

button {
    background-color: #00CECB;
    width: 16rem;
    height: 3rem;
    border: 2px solid #00CECB;
    border-radius: 5rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.result {
    border: 2px solid #00CECB;
    border-radius: 5rem;
    width: 16rem;
    height: 3rem;
    margin-top: 1rem;
}
